*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.title{
    margin-top: 32%;
    font-size: 1.5rem;



}
.colaps-list{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: gray;
    border-radius: 15px;
    height: 20vh;
    width: 82%;
    transition: height 200ms ease;

}
.itmes-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
}
.itmes-list li{
    width: 100%;
    height: 10px;
    padding: 18px;
}
.itmes-list li a{
    text-decoration: none;
    height: 59px;

}
.Historical-moments{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    transform-origin: top;
    transform: scale(1,0);
    transition: transform ease-in-out 250ms;
}
.Historical-moments li{
    display: none;
    margin-left: 10px;
    color: black;
}
.colaps-list:hover{
    height: 60vh;
}
.colaps-list:hover .Historical-moments li{
    display: block;
}
.colaps-list:hover .Historical-moments{
    transform: scale(1,1);

}